/* Container Principal */
.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* Layout Flexível */
.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header */
header {
  background-color: #00ced1;
  width: 100%;
  padding: 5px;

  z-index: 2;
}

/* Logo */
.logo {
  padding-right: 10px;
}

.logo img {
  padding: 2px;
  max-width: 200px;
  cursor: pointer;
}

/* Menu de Navegação */
.menu nav a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.menu nav a:hover {
  background-color: #00B5B7;
}

/* Botão de Pesquisa */
#divBusca {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 32px;
}

#txtBusca {
  background-color: transparent;
  padding-left: 10px;
  font-size: 15px;
  border: none;
  height: 100%;
  width: calc(100% - 80px);
  outline: none;
}

#btnBusca {
  border: none;
  height: 100%;
  width: 80px;
  font-weight: bold;
  border-radius: 0 20px 20px 0;
  background: #00B5B7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnBusca:hover {
  background-color: #00999A;
}

/* Lista de Sugestões de Pesquisa */
.suggested-result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggested-result li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.suggested-result li:last-child {
  border-bottom: none;
}

.suggested-result li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  display: block;
  transition: color 0.3s ease;
}

.suggested-result li:hover {
  background-color: #f2f2f2;
}

.suggested-result li a:hover {
  color: #00B5B7;
}
