<header>
  <div class="container">
    <nav class="cont">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <img
            src="https://live.staticflickr.com/65535/52873737719_62afdb8bf0_o.png"
            alt="Logo"
          />
        </a>
      </div>

      <!-- Barra de Pesquisa -->
      <div id="divBusca">
        <input
          type="text"
          #searchInput
          id="txtBusca"
          placeholder="Buscar..."
        />
        <button id="btnBusca">
          Buscar
        </button>
      </div>

      <!-- Menu de Navegação Dinâmico -->
      <div class="menu">
        <nav>
          <a routerLink="/"><b>Home</b></a>
          <!--<a routerLink="/seller-auth"><b>Vendedores</b></a> -->

          <!-- Mostra para todos -->
          <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/user-auth"><b>Login/SingUp</b></a>
          </ng-container>


          <!-- Mostra para usuario logado -->
          <ng-container *ngIf="isLoggedIn">
            
            <a routerLink="/seller-add-product"><b>Add Livro</b></a>
            <a routerLink="/seller-home"><b>Lista de Livros</b></a>
            <a routerLink="/user-profile"><b>Perfil</b></a>
            <a routerLink="/favorite"><b>Favoritos</b></a>
            <a (click)="logout()"><b>Sair</b></a>
          </ng-container>
        </nav>
      </div>
    </nav>
  </div>
</header>
