<div class="add-product">
  <div class="background">  
    <div class="page">
      <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="formLogin">
        <h1>Cadastro do Produto</h1>
        <p class="mensagem-p">{{addProductMessage}}</p>
        
        <div class="input-group">
          <label>Foto do Livro
            <input type="text" ngModel name="imagemLivro" placeholder="URL da Imagem do Produto" required />
          </label>
          <label>Nome do Livro
            <input type="text" ngModel name="nomeLivro" placeholder="Nome da Obra" required />
          </label>
        </div>
        
        <div class="input-group">
          <label>Nome do Autor
            <input type="text" ngModel name="nomeAutor" placeholder="Nome do Autor" required />
          </label>
          <label>Ano de Publicação
            <input type="date" ngModel name="anoPublicacao" placeholder="Ano de Publicação" required />
          </label>
        </div>
        
        <div class="input-group">
          <label>Categoria do Livro
            <select ngModel name="categoria" required>
              <option value="" disabled selected>Escolha a Categoria</option>
              <option value="Ficção">Ficção</option>
              <option value="Não-ficção">Não-ficção</option>
              <option value="Fantasia">Fantasia</option>
              <option value="Romance">Romance</option>
              <option value="Mistério">Mistério</option>
              <option value="Biografia">Biografia</option>
              <option value="História">História</option>
              <option value="Terror">Terror</option>
              <option value="Aventura">Aventura</option>
              <option value="Sci-fi">Sci-fi</option>
              <option value="Drama">Drama</option>
              <option value="Comédia">Comédia</option>
              <option value="Fábulas">Fábulas</option>
              <option value="Poesia">Poesia</option>
              <option value="Teatro">Teatro</option>
              <option value="Sem-Categoria">Sem categoria</option>
            </select>
          </label>
          <label>Nome da Editora
            <input type="text" ngModel name="nomeEditora" placeholder="Nome da Editora" required />
          </label>
        </div>
        
        <div class="input-group">
          <label>Preço
            <input type="number" ngModel name="preco" placeholder="Digite o preço do Livro" required />
          </label>
          <label>Estoque
            <input type="number" ngModel name="estoque" placeholder="Quantidade em Estoque" required />
          </label>
        </div>

        <label>Descrição do Livro
          <textarea ngModel name="descricaoLivro" placeholder="Descrição da Obra" required></textarea>
        </label>
        
        <input type="submit" value="Cadastrar Livro" class="btn" id="botao"/>
      </form>    
    </div>
  </div>
</div>
