<header>
  <div class="container">
    <nav class="cont">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <img
            src="https://live.staticflickr.com/65535/52873737719_62afdb8bf0_o.png"
            alt="Logo"
          />
        </a>
      </div>

      <!-- Barra de Pesquisa -->
      <div id="divBusca">
        <input
          type="text"
          #searchInput
          id="txtBusca"
          placeholder="Buscar..."
          [(ngModel)]="searchTerm"
          (input)="buscarSugestoes()"
        />
        <button id="btnBusca" (click)="buscarLivros()">Buscar</button>
      
        <!-- Sugestões -->
        <ul *ngIf="sugestoes.length > 0" class="sugestoes-lista">
          <li *ngFor="let sugestao of sugestoes" (click)="selecionarSugestao(sugestao)">
            {{ sugestao.title }}
          </li>
        </ul>
      </div>
      

      <!-- Menu de Navegação Dinâmico -->
      <div class="menu">
        <nav>
          <a routerLink="/"><b>Home</b></a>
          <a routerLink="/books"><b>Livros</b></a>
          <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/user-auth"><b>Login/SingUp</b></a>
          </ng-container>

          <ng-container *ngIf="isLoggedIn">
            <a routerLink="/seller-add-product"><b>Add Livro</b></a>
            <a routerLink="/seller-home"><b>Lista de Livros</b></a>
            <a routerLink="/user-profile"><b>Perfil</b></a>
            <a routerLink="/favorite"><b>Favoritos</b></a>
            <a (click)="logout()"><b>Sair</b></a>
          </ng-container>

          <!-- Carrinho -->
          <div class="cart-icon" *ngIf="isLoggedIn">
            <a routerLink="/cart">
              <fa-icon [icon]="faShoppingCart"></fa-icon> <!-- Ícone de carrinho -->
              <span class="cart-count">{{ cartItemCount }}</span>
            </a>
          </div>
        </nav>
      </div>
    </nav>
  </div>
</header>
