<form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="formLogin">
  <p class="message-p">{{productMessage}}</p>
  <h1>Atualizar Produto</h1>

  <div *ngIf="loading" class="loading">Carregando...</div>

  <div *ngIf="!loading && productData" class="form-content">
    <div class="input-group">
      <label>Foto do Livro
        <input type="text" ngModel name="imagemLivro" [ngModel]="productData.imagemLivro" required>
      </label>
      <label>Nome do Livro
        <input type="text" ngModel name="titulo_livro" [ngModel]="productData.titulo_livro" required>
      </label>
    </div>

    <div class="input-group">
      <label>Autor
        <input type="text" ngModel name="nome_autor" [ngModel]="productData.nome_autor" required>
      </label>
      <label>Gênero
        <input type="text" ngModel name="nome_genero" [ngModel]="productData.nome_genero" required>
      </label>
    </div>

    <div class="input-group">
      <label>Preço
        <input type="number" ngModel name="preco" [ngModel]="productData.preco" required>
      </label>
      <label>Estoque
        <input type="number" ngModel name="estoque" [ngModel]="productData.estoque" required>
      </label>
    </div>

    <label>Descrição
      <textarea ngModel name="descricao" [ngModel]="productData.descricao" required></textarea>
    </label>

    <button type="submit" class="btn">Atualizar Livro</button>
  </div>
</form>