/* Defina a altura mínima de 100% para o body */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* O conteúdo principal deve crescer para ocupar o espaço disponível */
  main {
    flex-grow: 1;
  }
  
  /* Estilo do footer para que ele fique na parte inferior da tela */
  footer {
    background-color: #00ced1;
    padding: 50px 0;
    position: relative;
    width: 100%;
    margin-top: auto; /* Faz com que o footer fique no final da tela */
  }
  