<main>
  <div class="page-title">Seu Carrinho</div>
  <div class="content">
    <section>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>-</th>
          </tr>
        </thead>
        <tbody *ngFor="let cart of cartData">
          <tr>
            <td>
              <div class="product">
                <img src="{{ cart.imagemLivro }}" alt="Produto" />
                <div>
                  <div class="name">{{ cart.nomeLivro }}</div>
                  <div class="category">{{ cart.nomeAutor }}</div>
                </div>
              </div>
            </td>
            <td>R$ {{ cart.preco }}</td>
            <td>
              <div class="qty">
                <button>-</button>
                <span>{{ cart.quantity }}</span>
                <button>+</button>
              </div>
            </td>
            <td>R$ {{ cart.preco }}</td>
            <td><button class="remove" (click)="removeToCart(cart.id)">x</button></td>
          </tr>
        </tbody>
      </table>
    </section>
    <aside>
      <div class="box">
        <header>Resumo da compra</header>
        <div class="info">
          <div>
            <span>Sub-total</span><span>R$ {{ priceSummary.price }}</span>
          </div>
          <div>
            <span>Frete</span><span>R$ {{ priceSummary.delivery }}</span>
          </div>
          <div>
            <span>Desconto</span
            ><span>R$ {{ priceSummary.discount.toFixed(2) }}</span>
          </div>
          <div>
            <label><span>Cupom: </span><span><input class="cupomSpace" type="text" /></span></label>
          </div>
          <div>
            <button>Adicionar cupom de desconto</button>
          </div>
        </div>
        <footer>
          <span>Total</span>
          <span>R$ {{ priceSummary.total }}</span>
        </footer>
      </div>
      <button (click)="checkout()">Finalizar Compra</button>
    </aside>
  </div>
</main>
