<section id="fund1">
    <div id="inform1">
      <div id="tit1">
        <h1>
          Estante Mágica
        </h1>
        <p id="subtit1">Onde você desperta a sua imaginação!!</p>
      </div>
    </div>
</section>

<div class="product-list-wrapper">
    <h2>Produtos Populares</h2>
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of products">
            <div class="product-item">
                <a [routerLink]="'/details/' + item.id">
                    <img [src]="item.image" [alt]="item.title">
                </a>
                <div class="product-details">
                    <h6 class="name-header">{{ item.title }}</h6>
                    <h6 class="preco-product">Preço: {{ item.price | currency: 'BRL': true: '1.2-2' }}</h6>
                    <h6 class="autor-product">Autor: {{ item.author }}</h6>
                </div>
                <div class="product-categoria">
                    <h6>{{ item.genre }}</h6>
                </div>
                <div class="product-footer">
                    <a [routerLink]="'/details/' + item.id">+ Detalhes</a>
                    <a href="#">+ Carrinho</a>
                </div>
            </div>
        </div>
    </div>
</div>
